## Phase 4 Group 2 project 
#### Contributors :
> * Nurulain Abdi Maalim
> * Amos Kibet
> * Mercy Onduso 
> * Beth Mithamo

# Forecasting the USD-KES Exchange Rate: A Time Series Analysis from 2003 to 2024

###  Business Problem:

A company based in Kenya imports raw materials from the United States and has been affected by the fluctuation of the exchange rate between the USD and KES. The company wants to forecast the exchange rate between USD and KES for the next few years to better plan their budget and manage their imports.

### Solution -  building a Predictive model:

Using historical data of the exchange rate between USD and KES from 2003 till today from CBK's website, we can build a predictive model to estimate the exchange rate in the future. 

We will use a time series forecasting technique to predict the exchange rate between USD and KES in 2024, using the data gathered by CBK up until 2023, we will use it to train our predictive model, and then use the model to forecast the exchange rate for 2024.

In [1]:
import pandas as pd

In [2]:
usd_kes = pd.read_csv("Key CBK Indicative Exchange Rates.csv")
usd_kes.head()

         Date   Currency      Mean       Buy      Sell
0  10/03/2023  US DOLLAR  128.8882  128.7882  128.9882
1  09/03/2023  US DOLLAR  128.5912  128.4912  128.6912
2  08/03/2023  US DOLLAR  128.3618  128.2618  128.4618
3  07/03/2023  US DOLLAR  128.1088  128.0088  128.2088
4  06/03/2023  US DOLLAR  127.7559  127.6559  127.8559

In [3]:
usd_kes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4612 entries, 0 to 4611
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4612 non-null   object
 1   Currency  4612 non-null   object
 2   Mean      4612 non-null   float64
 3   Buy       4612 non-null   float64
 4   Sell      4612 non-null   float64
dtypes: float64(3), object(2)
memory usage: 180.3+ KB

In [4]:
usd_kes.describe()

              Mean          Buy         Sell
count  4612.000000  4612.000000  4612.000000
mean     90.847999    90.753421    90.942355
std      15.188971    15.181186    15.196730
min      61.510600    61.438900    61.582200
25%      77.455200    77.368600    77.547950
50%      87.878750    87.793300    87.962800
75%     102.671700   102.571325   102.771700
max     128.888200   128.788200   128.988200

In [5]:
usd_kes.tail()

            Date   Currency      Mean      Buy      Sell
4607  02/11/2004  US DOLLAR   81.2078  81.1078   81.3078
4608  12/09/2004  US DOLLAR   84.3208  84.2250   84.4167
4609  12/09/2004  US DOLLAR   84.3208  84.2250   84.4167
4610  12/09/2003  US DOLLAR   84.1483  84.0539   84.2428
4611  01/01/1970  US DOLLAR  100.4232  97.4105  102.1154